*{
    margin: 0;
    padding: 0;
}
.link-google{
    color: 335577;
    margin-right: 10px;
    margin-left: 10px;
}
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 30px;
    color: 332424;
    align-items: center;
    display: flex;
    font-weight: 700;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}
p{
    display: flex;
    font-weight: 600;
    flex-wrap: wrap;
    font-size: 20px;
    color: #242424;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
.p{
    display: flex;
    font-weight: 600;
    flex-wrap: wrap;
    font-size: 20px;
    color: #242424;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}
.name{
    display: flex;
    font-weight: 600;
    flex-wrap: wrap;
    font-size: 20px;
    color: #245524;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.email{
    display: flex;
    font-weight: 600;
    flex-wrap: wrap;
    font-size: 20px;
    color: #242499;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
.country{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: #245524;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}
