*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 30px;
    color: blue;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

p{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    color: green;
    align-items: center;
}